<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Kitap Listesi </h4>
          <select [(ngModel)]="book_id" (ngModelChange)='onBookSelected($event)'
            class="browser-default custom-select btnChange mb-2">
            <option value="aTumu" data-t-v="_tumu">Kitaplar</option>
            <option *ngFor="let item of book" [value]="item.BookID">
              <td>{{ item.BookName }}</td>
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card" *ngFor="let item of summaries">
        <div class="card-body">
          <form class="pt-3" #summaryForm='ngForm'>
            <div class="form-group">
                <label for="SummaryText"><strong>Özetler</strong></label>
                <textarea rows="10" class="form-control form-control-lg" disabled id="SummaryText" name="SummaryText">{{item.SummaryText}} </textarea>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
