<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yazar Listesi </h4>
                    <select [(ngModel)]="author_id" (ngModelChange)='onAuthorSelected($event)'
                        class="browser-default custom-select btnChange mb-2">
                        <option value="aTumu" data-t-v="_tumu">Kitaplar</option>
                        <option *ngFor="let item of author" [value]="item.AuthorID">
                            <td>{{ item.AuthorFirstName }} {{item.AuthorLastName}}</td>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kitap Bilgileri</h4>
                    <form class="pt-3" #bookForm='ngForm' (ngSubmit)="onSave(bookForm)">
                        <div class="form-group">
                            <label for="BookName"><strong>Kitap İsmi</strong></label>
                            <input type="text" class="form-control form-control-lg" required id="BookName"
                                placeholder="Kitap Adını Giriniz" name="BookName" #BookName="ngModel"
                                [(ngModel)]="model.BookName">
                        </div>
                        <div class="form-group">
                            <label for="BookType"><strong>Kitap Türü</strong></label>
                            <input type="text" class="form-control form-control-lg" required id="BookType"
                                placeholder="Kitap Türünü Giriniz" name="BookType" #BookType="ngModel"
                                [(ngModel)]="model.BookType">
                        </div>
                        <div class="form-group">
                            <label for="BookPage"><strong>Kitap Sayfa Sayısı</strong></label>
                            <input type="text" class="form-control form-control-lg" required id="BookPage"
                                placeholder="Kitap Sayfa Sayısını Giriniz" name="BookPage" #BookPage="ngModel"
                                [(ngModel)]="model.BookPage">
                        </div>
                        <div class="form-group">
                            <label for="Publisher"><strong>Yayın Evi</strong></label>
                            <input type="text" class="form-control form-control-lg" required id="Publisher"
                                placeholder="Kitabın Yayınevini Giriniz" name="Publisher" #Publisher="ngModel"
                                [(ngModel)]="model.Publisher">
                        </div>
                        <div class="form-group">
                            <label for="PublicationYear"><strong>Yayın Yılını Giriniz</strong></label>
                            <input type="text" class="form-control form-control-lg" required id="PublicationYear"
                                placeholder="Kitabın Yayın Yılını Giriniz" name="PublicationYear"
                                #PublicationYear="ngModel" [(ngModel)]="model.PublicationYear">
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="mt-3">
                                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                    type="submit">Kitabı Kaydet</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
