<div class="d-flex align-items-center auth px-0 register__padding">
  <div class="row w-100 mx-0">
    <div class="col-xl-4 col-lg-7 col-md-8 col-sm-10 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="register__brand">
          <a class="register__cursor" routerLink="/home">
            <h1><span>M</span>ind <span>S</span>helf</h1>
          </a>
        </div>
        <h3 class="font-weight-light pt-3"><strong>Kullanıcı Adı ve Şifrenizi Giriniz</strong> </h3>
        <form class="pt-3" #resetPasswordForm="ngForm" (ngSubmit)="onSave(resetPasswordForm)">
          <div class="form-group">
            <label for="UserPassword" class="control-label"><strong>Parola</strong></label>
            <input type="text" class="form-control form-control-lg" required id="UserPassword" ngModel
              placeholder="Parola Giriniz" name="UserPassword" #UserPassword="ngModel"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="modelUser.UserPassword">
            <span class="help-block" style="color:red;font-weight:bold"
              *ngIf="UserPassword.errors?.pattern && UserPassword.touched">
              En az bir rakam ve bir büyük ve küçük harf ve en az 8 veya daha fazla karakter
              içermelidir
            </span>
          </div>
          <div class="mt-3">
            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">
              Kaydet
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
