<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Yorum Listesi</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="">
                <tr>
                  <th>Yorum ID</th>
                  <th>Yorum Başlığı</th>
                  <th>Yorum Metni</th>
                  <th>Durum</th>
                  <th>Sil</th>
                  <th>Aktif Et</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of comment">
                  <td>{{item.CommentID}}</td>
                  <td>{{item.CommentName}}</td>
                  <td>{{item.CommentText}}</td>
                  <td>
                    <span *ngIf="item.CommentStatue == 1">
                      Aktif
                    </span>
                    <span *ngIf="item.CommentStatue == 0">
                      Pasif
                    </span>
                  </td>
                  <td class="d-flex justify-content-center">
                    <a type="button" class="comment__cursor" (click)="commentDelete(item.CommentID)">
                      <mat-icon class="text-danger">delete_sweep</mat-icon>
                    </a>
                  </td>
                  <td>
                    <a type="button" class="comment__cursor"
                    (click)="commentStatusUpdate(item.CommentID)">
                      <mat-icon class="text-success">add</mat-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
