.comments {

  &__title {
    text-align: center;
  }

  &__summary {
    font-size: large;
  }

  &__description {
    border-radius: 30px;
    font: white;
    justify-content: center;
  }

  &__padding {
    padding-top: 2em;
  }

  &__card{
  border-radius: 20px;
  }

}
