.comments {

  &__title {
    text-align: center;
  }

  &__summary {
    font-size: large;
  }

  &__description {
    width: 300px;
    border-radius: 30px;
    height: 300px;
    font: white;
    justify-content: center;
  }

  &__padding {
    padding-top: 2em;
  }
}
