<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 style="text-align: center;" class="card-title">Özet</h4>
          <form class="pt-3" #summaryForm='ngForm' (ngSubmit)="onSave(summaryForm)">
            <div class="form-group">
              <label for="SummaryText"><strong>Kitap İsmi</strong></label>
              <textarea rows="10" class="form-control form-control-lg" required id="SummaryText"
                placeholder="LÜTFEN GİRDİNİZ ÖZET 1000 HECE OLSUN" name="SummaryText" #SummaryText="ngModel"
                [(ngModel)]="modelSummary.SummaryText"></textarea>
            </div>
            <div class="row d-flex justify-content-end">
              <div class="mt-3">
                <button class="btn btn-outline-success" type="submit">Özeti Kaydet</button>
                <!-- <button class="btn btn-outline-info" type="submit">Özeti Güncelle</button>
                <button class="btn btn-outline-danger  " type="submit">Özeti Sil</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>