<div class="container-fluid">
  <div class="d-flex align-items-center auth px-0 register__padding m-auto">
    <div class="row w-100 mx-0">
      <div class="col-xl-12 col-lg-8 col-md-7 col-sm-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <h1>Profil Bilgileri</h1>
          <form class="pt-3" #profileForm='ngForm' (ngSubmit)="onProfileUpdated(profileForm)">
            
            <div class="form-group">
              <label for="UserFirstName"><strong>İsim</strong></label>
              <input type="text" class="form-control form-control-lg" id="UserFirstName" placeholder="İsminizi Giriniz"
                name="UserFirstName" #UserFirstName="ngModel" [(ngModel)]="modelUser.UserFirstName" required>
            </div>
            <div class="form-group">
              <label for="UserLastName"><strong>Soyisim</strong></label>
              <input type="text" class="form-control form-control-lg" id="UserLastName"
                placeholder="Soyisminizi Giriniz" name="UserLastName" #UserLastName="ngModel"
                [(ngModel)]="modelUser.UserLastName" required>
            </div>
           
            <div class="row d-flex justify-content-end">
              <div class="mt-3">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                  type="submit">Bilgilerimi
                  Güncelle</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
