<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="/home">
                    <h1><span>M</span>ind <span>S</span>helf</h1>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="hero">
    <div class="hero container">
        <div>
            <h1 class="home__padding">Hoşgeldiniz <span></span></h1>
            <a routerLink="/login" type="button" class="cta">Giriş Yap</a>
        </div>
    </div>
</section>

<!-- <section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title"> <span>KİTAPLAR</span></h1>
        </div>
        <div class="all-projects">
            <div class="project-item">
                <div class="project-info">
                    <h2> Sefiller</h2>
                    <p>KİTABIN TÜRÜ: EPİK, KURGUSAL TARİH ROMANI</p>
                </div>
                <div class="project-img">
                    <img src="../../assets/img/sefiller.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h2>Savaş Barış</h2>
                    <p>KİTABIN TÜRÜ: TARİH, SAVAŞ, AŞK</p>
                </div>
                <div class="project-img">
                    <img src="../../assets/img/indir.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h2>FARELER VE İNSANALR</h2>
                    <p>KİTABIN TÜRÜ: KURGU, TRAJEDİ</p>
                </div>
                <div class="project-img">
                    <img src="../../assets/img/fare.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h2>KÜRK MANTOLU MADONNA</h2>
                    <p>KİTABIN TÜRÜ: KURGU, AŞK </p>
                </div>
                <div class="project-img">
                    <img src="../../assets/img//kürk.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>M</span>IND <span>S</span>HELF</h1>
        </div>
    </div>
</section>
